@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Montserrat|Special+Elite&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $navy;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

// [class^="button"] {
//   background-color: inherit;
//   background-position: 100% 0;
//   background-size: 300%;
//   cursor: pointer;
//   font-size: 16px;
//   font-weight: bold;
//   transition: 0.8s;
// }

// [class^="button"]:hover {
//   background-position: 0 100%;
// }

// .button {
//   border: 2px solid rgba(255, 255, 255, 0.1);
//   background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.3) 50%, transparent 50%);
//   color: rgba(255, 255, 255, 0.3);
//   border-radius: 5%;
//   font-family: "Special Elite", cursive;
//   // height       : 42px;
//   margin-top: 18px;
//   padding: 14px 0 10px;
//   text-transform: uppercase;
//   width: 30%;

//   &--delete {
//     border: 2px solid #bc2c1a;
//     color: #bc2c1a;

//     &:hover {
//       background-color: #bc2c1a;
//       border: none;
//       color: #fff;
//     }
//   }

//   &--load {
//     border: 2px solid darkolivegreen;
//     color: darkolivegreen;

//     &:hover {
//       color: #fff;
//       border: none;
//       background-color: darkolivegreen;
//     }
//   }

//   &--save {
//     color: darkorange;
//     border: 2px solid darkorange;

//     &:hover {
//       color: #fff;
//       border: none;
//       background-color: darkorange;
//     }
//   }
// }

// // .header__textarea {
// //   background: rgba(255, 255, 255, 0.1);
// //   border: none;
// //   color: rgb(182, 179, 179);
// //   outline: none;
// //   -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
// //   box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
// // }

// ::placeholder {
//   color: rgb(182, 179, 179);
// }

// @media (max-width: 500px) {
  

//   // .button {
//   //   font-size: 11px;
//   //   // height : 22px;
//   //   width: 30%;
//   //   padding: 5px 0 2px;
//   //   margin-top: 8px;
//   // }

//   ::placeholder {
//     font-size: 13px;
//   }
// }
