@import "_normalize";
@import "_variables";

@import url("https://fonts.googleapis.com/css?family=Nova+Round|Open+Sans:400,600&display=swap&subset=latin-ext");

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $navy;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.header {
  font-weight: 600;
  font-size: 44px;
  margin: 0 0 33px 0;
}

.main {
  max-width: 540px;
  width: 100%;
}

.form {

  &__button {
    background-color: inherit;
    background-position: 100% 0;
    background-size: 300%;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.3) 50%, transparent 50%);
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-family: "Nova Round", cursive;
    letter-spacing: 0.5px;
    min-width: 158px;
    padding: 16px;
    text-transform: uppercase;
    transition: 0.6s;

    &--delete {
      border: 2px solid #bc2c1a;
      color: #bc2c1a;

      &:hover {
        background-color: #bc2c1a;
      }
    }

    &--load {
      border: 2px solid darkolivegreen;
      color: darkolivegreen;

      &:hover {
        background-color: darkolivegreen;
      }
    }

    &--save {
      border: 2px solid darkorange;
      color: darkorange;

      &:hover {
        background-color: darkorange;
      }
    }
  }

  [class^="form__button"]:hover {
    background-position: 0 100%;
    border: 2px solid transparent;
    color: #fff;
  }

  &-functional {
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
  }

  &__label {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    line-height: 16px;
    margin-bottom: 17px;
  }

  &__message {
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgb(182, 179, 179);
    min-height: 211px;
    outline: none;
    padding: 4px;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
    width: 100%;
  }

  &__wrapper {
    margin: 0;
  }

  ::placeholder {
    color: rgb(182, 179, 179);
  }
}
